@import "tailwindcss";

@font-face {
  font-family: Nunito;
  src: url(../../public/fonts/Nunito-Light.ttf);
}

@font-face {
  font-family: NunitoMedium;
  src: url(../../public/fonts/Nunito-Medium.ttf);
}

@font-face {
  font-family: NunitoBold;
  src: url(../../public/fonts/Nunito-Bold.ttf);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-light: var(--Nunito);
  --font-med:var(--NunitoMedium);
  --font-bold:var(--NunitoBold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-light)
}